.profile-img-style {
  height: 50px;
  width: 50px;
  background-color: #007bff;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  margin-top: -4px;
  object-fit: cover;
}

.profile-txt-style {
  margin-left: 1px;
  margin-top: -1px;
}

.pop-content:hover {
  background-color: rgba(0, 123, 255, 0.1);
  transition: all 0.5s linear;
}
